@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  
  /* body {
    @apply text-gray-900 antialiased;
  } */
}

@layer components {
  .container {
    @apply max-w-7xl;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

/* ::-webkit-scrollbar-thumb {
  @apply bg-teal-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-teal-700;
} */